<div class="content" role="main">
 
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="almacen"><app-almacen></app-almacen></mat-tab>
    <mat-tab label="tienda">Content 2</mat-tab>

  </mat-tab-group>

</div>


<router-outlet></router-outlet>
