<div class= "table-container">    

    <button class = "addButton" mat-stroked-button color="primary" (click)="toogle()" *ngIf="!displayForm">Agregar Patito</button>

    <div *ngIf="displayForm">
        
        <app-formulario-patito></app-formulario-patito>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    
  
    <!-- Name Column -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Color </th>
      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="tamanio">
      <th mat-header-cell *matHeaderCellDef> Tamaño </th>
      <td mat-cell *matCellDef="let element"> {{element.tamanio}} </td>
    </ng-container>

    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>

    <ng-container matColumnDef="actualizar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="primary"> 
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit document">
          </mat-icon>
        </button> 
      </td>
    </ng-container>
  
    <ng-container matColumnDef="borrado">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="primary"> 
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete">
          </mat-icon>
       </button> 
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
