<form>
    <label >Agregando el Patito</label><br/>
    <mat-form-field appearance="fill">
        <mat-label>color</mat-label>
        <input matInput>
      </mat-form-field><br/>
      <mat-form-field appearance="fill">
        <mat-label>tamanio</mat-label>
        <input matInput>
    </mat-form-field><br/>
      <mat-form-field appearance="fill">
        <mat-label>cantidad</mat-label>
        <input matInput>
    </mat-form-field><br/>
    <button mat-stroked-button color="primary" type="submit"> Agregar </button>
</form>
